<h1>Listing costs</h1>

<table>
  <thead>
    <tr>
      <th>Expense</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Spend date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.expense %></td>
        <td><%= cost.category %></td>
        <td><%= cost.amount %></td>
        <td><%= cost.spend_date %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Listing Ordered Costs</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @costs_total.each do |key,value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Cost', new_cost_path %>
