<p id="notice"><%= notice %></p>

<p>
  <strong>Expense:</strong>
  <%= @cost.expense %>
</p>

<p>
  <strong>Category:</strong>
  <%= @cost.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @cost.amount %>
</p>

<p>
  <strong>Spend date:</strong>
  <%= @cost.spend_date %>
</p>


<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
