<p id="notice"><%= notice %></p>

<p>
  <strong>Expense:</strong>
  <%= @income.expense %>
</p>

<p>
  <strong>Category:</strong>
  <%= @income.category %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @income.amount %>
</p>

<p>
  <strong>Earn date:</strong>
  <%= @income.earn_date %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
